* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.conteiner {
    max-width: 1000px;
    margin: 0 auto;
}

header img {
    height: 50px;
    border-right: 2px solid #bbb;
    padding-right: 10px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 5px;
}

li:last-child {
    margin-right: 0;
}

nav {
    margin: 20px 0;
    color: #bbb;
}


.main-image {
    background: rgba(220, 220, 220, 1) url("../img/banner.jpg") center;
    background-size: cover;
    height: 300px;
}

.conteiner-title {
    width: 50%;
    margin-left: 30px;
    color: #fff;
}

.text {
    height: 30px;
    background-color: #0f0;
}

.main-web {
    background-color: #00f;
    width: 100%;
}

.contenuto {
    height: 500px;
    background-color: cornflowerblue;
}

.article-left {
    width: 20%;
    padding: 15px 15px 15px 0;
}

.article-center {
    width: 60%;
    padding:15px;
}

.article-right {
    width: 20%;
    padding: 15px 0 15px 15px;
}

